<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test  name="Job Test" enabled="true">
    <classes>
      <class name="peoplegroveTest.jobsTest"/>
    </classes>
  </test> 
  
  <test  name="CareerPath Test" enabled="true">
    <classes>
      <class name="peoplegroveTest.careerPathsTest"/>
    </classes>
  </test> 
  

  
 
</suite> <!-- Suite -->
  